nav.nav.desktop-sticky-nav
	.nav__item
		a.nav__item-link.gradient-blue.nav-home-link(href="index.html") Home
	.nav__item
		a.nav__item-link.gradient-blue.nav-services-link(href="services.html") Services
	.nav__item
		a.nav__item-link.gradient-blue.nav-why-link(href="why.html") Why work with me
	.nav__item
		a.nav__item-link.gradient-blue.nav-pricing-link(href="pricing.html") Pricing
	.nav__item
		a.nav__item-link.gradient-blue.nav-about-link(href="about.html") About