aside.aside.what-i-offer
	h2.what-i-offer__heading More services I can offer
	.what-i-offer__list
		.what-i-offer__item.offer1.pre-campaign-offer
			a.what-i-offer__item-content(href="pre-campaign.html")
				h3.offer-heading Pre-campaing analysis. FREE!
				p You wish to start advertising your services or products but is your website ready to ensure the clicks would further convert into leads and sales? 
				.continue-reading Read more

		.what-i-offer__item.offer2.pay-per-click-offer
			a.what-i-offer__item-content(href="pay-per-click.html")
				h3.offer-heading
					| Pay-Per-Click Campaign Management &amp; Optimization
				p The battle for business success is now fought mostly online.
				.continue-reading Read more

		.what-i-offer__item.offer3.remarketing-offer
			a.what-i-offer__item-content(href="remarketing.html")
				h3.offer-heading Remarketing
				p Sophisticated tracking technologies allow for unprecendented understanding of user behavior online.
				.continue-reading Read more

		.what-i-offer__item.offer4.copywriting-offer
			a.what-i-offer__item-content(href="copywriting.html")
				h3.offer-heading Copywriting
				p You have an amazing product or service which you know better than anyone else.
				.continue-reading Read more
		
		.what-i-offer__item.offer5.consulting-offer
			a.what-i-offer__item-content(href="consulting.html")
				h3.offer-heading Consulting
				p You have one or more campaigns that you run through Adwords and don’t get the expected ROI?
				.continue-reading Read more
