extends _page-layout

prepend content
	.about-page-content
		.container
			header.header.main-block
				h1.header__title About me
				p I describe myself as a passionate marketeer continuously striving for professional excellence. I believe that challenges are potential opportunities: with the right mindset and engagement unexpected solutions can arise. 

		include _desktop-sticky-nav

		main.main.main-block
			.container
				p My 12 years of marketing experience is built solely in the field of Demand Generation as follows:
				ul
					li 4 years direct marketing on agency side, responsible for business development, account management, campaign strategy and execution, project management  and PPC campaign management having achieved 300% growth YoY on personal targets and significantly contributed to the expansion of the team
					li 3 years demand generation experience in large IT corporation focused on B2B environment, with responsibility for planning and execution with virtual teams, follow-up and ROI for 6 SouthEastern European markets
					li 5 years management of virtual Demand Generation team in same large IT corporation responsible for strategy, planning, execution, follow-up and ROI for 17 European market with outstanding ROI performance YoY
 
				p Smart PPC Solutions is my long-time dream project coming to life. It is powered by a period of discovery around what I was passionate about, what I was good at and not least important about how I choose to live my life. 

				p I always had a firm belief that marketing is not so much about creativity (though I am not discounting it’s value), but is a serious science where decisions must be based on sound insights drawn from data analysis (customer behavior, market situation, competition, etc.). 
				p This is what fascinated me about the PPC world: it’s endless measurability and growing options for understanding user behavior. These empower modern day marketers to micro-segment their audiences and target them with specific messages that resonate to each of them on an individual level, in the environment that is comfortable for them. The faster businesses understand this, the faster they can improve their engagement with their customers and see their numbers grow .

				h2 What do I do when I don’t work?

				p I enjoy every moment I can with my two biggest supporters: my husband and our young son. I love to travel and explore new places, authentic living and the amazing beauty nature is generously surrounding us with. In the sunny seasons I love gardening and watching beautiful sunsets together with my boys on our terrace. Winters will find me on the slope or in the kitchen, exploring some new dessert recipes, or enjoying a good book and an oversized cup of tea next to the fireplace.
				p I’m also interested in design and photography. I relax listening to piano music.
				
		include _what-i-offer
