extends _page-layout

prepend content
	.consulting-page-content
		.container
			header.header.main-block
				h1.header__title Consulting

		include _desktop-sticky-nav

		main.main.main-block
			.container
				blockquote You have one or more campaigns that you run through Adwords, LinkedIn or Facebook and don’t get the expected ROI?
				p While the platforms are intuitive in use, they do not work at their maximum capabilities from the basic settings. This is why you need an expert to make them work for you. Winning campaigns need proper goals, through analysis, efficient tracking and knowledgeable optimization skills.
				p The good news is that you are at the right place - I know what it takes to formulate and implement an efficient and winning pay per click marketing strategy. This is not about chasing impressions, ad positions, CTRs and CPCs - it aims at achieving a good Return on Investment for your business.
				p I can perform a full analysis on your campaigns and provide you with an easy to understand evaluation and solutions for adjusting so you get the best ROI. What you can expect to get is:
				ul
					li Filter out the irrelevant traffic
					li Fine-tune your ads
					li Reduce your CPC and increase the ad exposures and CTR
					li Recommendations for improving your landing page
					li Increase your quality scores and Ad Ranks in Adwords
					li Improve your PPC ROI

				include _get-in-touch-button

		include _what-i-offer
