extends _page-layout

prepend content
	.copywriting-page-content
		.container
			header.header.main-block
				h1.header__title Copywriting

		include _desktop-sticky-nav

		main.main.main-block
			.container
				blockquote Strong and concise sales propositions that will generate you new business.
				p You have an amazing product or service which you know better than anyone else. Yet when you need to describe it effectively to your potential customers, you stare at a blank page or end up writing endless text filled with technical features. I can help you create strong, concise and engaging for your customers:
				ul
					li PPC ads 
					li Social media posts
					li Emails and Landing pages
					li Sales letters

				include _get-in-touch-button

		include _what-i-offer
