extends _page-layout

prepend content
	.index-page-content
		.container
			header.header.main-block

				h2.header__title Do you want to get more clients <br>for your business?

				p Having a website and doing few paid ads to bring in some traffic won’t do the job.Because <br><strong>that’s what everybody does!</strong>
				p How do you get ice cold prospects to become your loyal customers and evangelists? How do you build your credibility, get trust and make selling easy?

		include _desktop-sticky-nav

		main.main.main-block
			.container
				p <strong>My name is Diana Masopust and I help businesses develop their automated sales funnels, grow their social media and get more customers.</strong>
				h2 The truth about digital promotion
				p The technology leap we’ve experienced in the past decade shook the way we socialize, entertain, shop or do business. The various apps and socializing networks we use on daily basis created unprecedented opportunities for communication and enabled businesses to expand their market reach exponentially.
				p Having a website is not enough to expect this would drive sales up. Not for large businesses and not for small entrepreneurs either. Regardless how great the content is, it doesn’t promote itself. In fact, writing killer content or creating an outstanding video for your website or social posts is less than half battle. The real magic lies in the promotion: ensuring the content reaches the relevant audience, at the time which is suitable for them and in a non-intrusive manner.
				p 85% of european population are Internet users. With a 93% dominance of Google in search volume, 81% penetration of Youtube, 52% Facebook users and 107M+ Linkedin members, you have unlimited possibilities to reach your audience online. Your competitors also.
				p You simply cannot afford to abandon the online battlefield and watch your competitors swipe your share of the profit.
				p Driving quality traffic to your website is key to ensure business growth and profitable return on your digital marketing investment.

				h2 Get smart with your budget!
				p Gurus say it takes 7-12 interactions to turn a cold prospect into a customer. You may scare this will slice a big chunk of your budget, but doesn’t have to be like that. If before jumping into paid ads you spend time designing your sales funnels, you provide value and gain trust and likeability, will not just lower your costs but build a relationship with your prospect.
				p Relationships bring you continuous business and positive brand advocacy, aka free new customers!
				p Automating your communication and building a strong social presence are key elements in positioning yourself as an authority in your field and gaining a healthy following.
				p It’s not about how many leads and followers you have, what matters is their quality which will be reflected in how much business they bring you, either as direct customers or influencers.
				

		aside.aside
			.container.working-tools
				.working-tools__text-block I work with these tools
				.working-tools__arrow-block
					.arrow-right
				.working-tools__container
					.working-tools__google-adwords-block
						a(href="https://adwords.google.com/um/signin?")
							span.google-adwords
								img(src="/images/tool1.png")
					.working-tools__linkedin-block
							a(href="https://linkedin.com")
								span.linkedin
									img(src="/images/tool5.png")
					
					.working-tools__youtube-block
						a(href="https://youtube.com")
							span.youtube
								img(src="/images/tool2.png")
					.working-tools__facebook-block
						a(href="https://facebook.com")
							span.facebook
								img(src="/images/tool3.png")
					
					.working-tools__instagram-block
						a(href="https://instagram.com")
							span.instagram
								img(src="/images/tool4.png")

		aside.aside.sluzby-aside
			.widespread-container
				.sluzby.main-block
					.sluzba.sluzba1
						h3.sluzba__heading Increased ROI
						p It’s not a game of just achieving impressions and clicks, what it matters is to fulfill your business goals.
					.sluzba.sluzba2
						h3.sluzba__heading Full Transparency
						p You get detailed weekly reporting on campaign performance plus you always have complete access to your campaigns.

		main.main.main-block
			.container
				h2 Want a FREE online marketing blueprint?
				p Get in touch and I will contact you for quick analysis of your current business situation. Based on our discussion I will prepare for you a FREE and NON-BINDING BLUEPRINT for growing your business online.
				a.message-link.gradient-orange.request(href="#message")
						.message-link__zavinac
						.message-link__uppercase Request your FREE BLUEPRINT
