extends _page-layout

prepend content
	.pay-per-click-page-content
		.container
			header.header.main-block
				h1.header__title Pay-Per-Click Campaign
					| <br> Management &amp; Optimization

		include _desktop-sticky-nav

		main.main.main-block
			.container
				blockquote Generate relevant web traffic that converts with <a href="#adwords">Google Adwords</a>, <a href="#linkedin">LinkedIn</a>, <a href="#facebook">Facebook</a>, <a href="#facebook">Instagram</a> or <a href="#youtube">Youtube</a>!

				h2(id="adwords") Google AdWords

				p Adwords is an extremely profitable channel for conversions which can deliver valuable results when managed correctly. 
				p When I start working on your campaign, I will first:
				ul
					li Provide you with a <strong>FREE audit of your landing page</strong> and pinpoint opportunities for enhancing its relevance and attractivity 
					li Research your market and competitors in the online landscape and make a simulation and forecast of achievable ROI
				p Once we agree on strategy and budget, your Google Ads will be up and running quickly, driving targeted traffic to your website from day 1.

				p Because what matters the most is to reach  your goals, <strong>on-going PPC optimization</strong> is my daily job. I am continuously refining, testing and expanding as necessary in order to improve the CPC &amp; CTR, reduce cost and drive your campaign ROI ever higher. And I’m not happy to simply meet your target - I strive to exceed it. 
				p Each Monday morning you get your <strong>weekly reporting</strong> on your campaign performance in your inbox, together with my conclusions and recommendations.

				h2(id="linkedin") LinkedIn

				p LinkedIn has become the fastest-growing and  most powerful business networking database you can’t afford to ignore.  It provides <strong>several options for advertising</strong> which enable you to reach your audience in a flexible way, whether you're generating leads, growing your network, recruiting new employees, or growing your company page membership.
				p The biggest value lies in it’s <strong>high-quality data</strong> which allows targeting professional/elite audiences with great precision according to:
				ul
					li Skills and/or interests
					li Demographic data
					li Group membership
					li Academic background
					li Industry and even company
					li Position and seniority (which enables to gauge a person’s influence level and salary)

				p It does come for a significantly more expensive CPC compared to Adwords or Social Networks, which is why LinkedIn still gets overlooked by many marketers and media planners, yet it is <strong>most powerful tool to engage the professionals that matter the most to your business.</strong> 

				p Get in touch now and let’s explore how to best leverage the power of LinkedIn to generate high quality traffic to your website and boost your business.

				h3 Display Ads
				img(src="images/linkedin-display-ads.png", alt="Display Ads")

				h3 Dynamic Ads
				img(src="images/linkedin-dynamic-ads.png", alt="Dynamic Ads")

				h3 Sponsored content
				img(src="images/linkedin-sponsored-ads.png", alt="Sponsored Content")

				h2(id="facebook") Facebook &amp; Instagram

				p Social networks have transformed the way businesses communicate with their audiences.
				p Among all, Facebook is the absolute leader having more users than Whatsup, Twitter and Instagram combined, with a 15% YOY growth. (source: Facebook). Similar to the way Facebook shook up the social media marketing world with its data driven approach, so does Instagram with its strict focus on mobile users and visuals. A vastly increasing number of users are active on both networks and consistent in their visits, making them a promising audience for your marketing efforts. Yet, the significantly different demographics and engagement levels require that that techniques and strategies used may need to be different.
				p <strong>Why you need me as your consultant for your FB &amp; Instagram ads?</strong> Because:
				ul
					li I can identify and segment your audiences to address to each of them  in a way that resonates on an individual level
					li I am designing and testing several ads to identify the most profitable proposal
					li I can help you identify your high-value customers while lowering your CPC

				p <strong>From increasing targeted traffic to your website, through to lead generation, I can help you achieve your goals.</strong>
				p Need help developing your campaign visuals? I can organize this for you with my design partners to deliver rich imagery and compelling ads.
				p Ready to roll out a campaign? I can get your ads running in less than 3 days from contract signature. Can you find another digital marketeer which gets you up to speed as fast?
				img(src="images/facebook-overview.png", alt="Facebook")
				img(src="images/facebook-mobile.png", alt="Facebook")
				img(src="images/instagram-mobile.png", alt="Instagram")

				h2(id="youtube") Youtube

				p Immagine this! A potential customer is searching for a solution to his need and you have it. They’re browsing on youtube and your video ad pops up. He clicks on your ad, visits your website and becomes your customer. Sounds simple, right? It’s NOT.
				p Youtube is the second largest search engine behind Google, with over 1 billion unique users, 6 billion hours of videos watched each month and 100 hours of video uploaded every minute. 
				p While great content is bound to be found, in this big ocean of video content and after months of investment in developing a good script, storyboard, finding the right cast, shooting and editing, you must be proactive to identify your prospects and drive their attention to your message. 
				p Advertising on YouTube is very different from running a regular PPC or paid social campaign. There are specific constraints and a ton of options for this platform, therefore a strong knowledge base is needed before diving into launching a video online.
				p Use my knowledge and let me help you effectively use video marketing to generate more leads and sales for your business, channel subscribers and build your emailing lists !

				table.youtube-table
					tr
						th.text-left(width="50%") YouTube TrueView In-Stream:
						th.text-left(width="50%") YouTube TrueView In-Display:
					tr
						td.text-left
							ul
								li Adverts appear before a YouTube video.
								li The charge occurs when the 30 seconds of the advert has been watched or the whole advert, whichever comes first.
								li The viewer can skip after 5 seconds of the advert, if they do this before 30 seconds or the end, no charge occurs.
								li Average cost per view range from 0.07$-0.15$
						td.text-left
							ul
								li Adverts appear next to YouTube videos, or in the search results.
								li The charge occurs when the advert is clicked to watch.
								li Average cost per view ranges from 0.15$-0.35$
					tr
						td.text-center(colspan="2")
							ul
								li Charge on a cost per view basis.
								li No additional charge for a click through to the website.

				img(src="images/youtube-ads.png", alt="Youtube Ads")

				include _get-in-touch-button

		include _what-i-offer
