extends _page-layout

prepend content
	.pre-campaign-page-content
		.container
			header.header.main-block
				h1.header__title Pre-campaing analysis. FREE!

		include _desktop-sticky-nav

		main.main.main-block
			.container
				blockquote You wish to start advertising your services or products but is your website ready to ensure the clicks would further convert into leads and sales?

				p Before jumping into PPC campaign creation, I will provide you with a set of recommendations to ensure your landing page (LP) has all it takes to turn your prospects into customers. The analysis will address the structure of your landing page, it’s relevance to the campaign message, clarity of the offer, call to action, overall copy, ease of use and other relevant details.
				p Why is a good landing page important?
				ul
					li The LP is the gate to achieving the most important goal: number of conversions
					li It influences quality score which determines the cost-per-click (CPC). High quality LP will get a high quality score which means lower cost per click and, consequently, more clicks for your budget

				
				include _get-in-touch-button-free-analysis

		include _what-i-offer
