extends _page-layout

prepend content
	.pricing-page-content
		.container
			header.header.main-block
				h1.header__title FREE Resources 
				p The most important question you must ask yourself  when deciding to go for any marketing campaign is what is the revenue you expect to generate with the budget you are willing to invest. To provide an effective support for your business, the investment you choose to do in your marketing activity should be part of your monthly budget. One time actions can bring short term effects yet if you're counting that few days campaign will blow up your sales figures, you may need to rethink your approach.

		include _desktop-sticky-nav

		main.main.main-block
			.container
				p New content coming soon.
