extends _page-layout

prepend content
	.remarketing-page-content
		.container
			header.header.main-block
				h1.header__title Remarketing

		include _desktop-sticky-nav

		main.main.main-block
			.container
				blockquote Bring back your website visitors who left without completing a transaction!

				p Sophisticated tracking technologies allow for unprecedented understanding of user behavior online. As people who already visited your website or used your app are more likely to convert, it is now possible to follow them online and remind them of your offer. By showing the users relevant ads while they navigate on different web pages that are part of the Google Display Network you gain more visibility and recognition from your prospects.
				p A thought through action plan is needed when deciding which of the website visitors you wish to remarket to. They can be selected according to various criteria like:
				ul
					li according to the certain page they visited,
					li if they had several actions on the website,
					li if they started filling in the order form and abandoned,
					li time spent on page
					li specific action (played a video, downloaded a document, etc)
				p Does it sound attractive? If you want to learn how this can be blended to your existing online strategy just reach out and let’s talk!

				include _get-in-touch-button

		include _what-i-offer
