extends _page-layout

prepend content
	.why-page-content
		.container
			header.header.main-block
				h1.header__title Why work with me
				p I bring value by helping you achieve higher ROI on your digital marketing budgets. Regardless if you are a startup or established business, you can benefit of my knowledge to formulate, implement and streamline your online campaigns. I will be honoured to use my passion and knowledge to navigate you in your digital marketing journey so you can stay focused on your core business!

		include _desktop-sticky-nav

		main.main.main-block
			.container
				p Having worked with and within agency, I can understand how difficult it is to be outstanding performer in various marketing fields, ensure a trustful working relationship and get a fair price for the efforts involved.
				p This is why:
					ul
						li I specialize in one thing only: Digital marketing
						li Unlike others, I offer you full transparency on campaigns: you have unlimited access and all data remains your property
						li I provide you with detailed quotation for my services
						li You get weekly, easy to understand reporting on campaign performance
				p Digital marketing is not just my job, it is my genuine passion which I nurture continuously. By working together, you will discover a knowledgeable, enthusiastic and trustful partner for building your business success in online environment.

				include _get-in-touch-button
