// Gradients

@mixin simple-gradient-blue() {
  background-color: #24275a;
  @include background-image(linear-gradient(to top, #3c408c 0%, #5155a7 99%, #5155a7 100%));
  box-shadow: 0 3px 0 #1d1f4e; 
  margin-bottom: 3px; 
}

@mixin simple-gradient-orange() {
  background-color: #eb8152;
  @include background-image(linear-gradient(to top, #aa2a1d 0%, #dc5222 100%));
  box-shadow: 0 3px 0 #6a0800;
  margin-bottom: 3px;
}

.gradient-blue,
.gradient-orange {
  color: $background-color;
  display: block;
  position: relative;
  z-index: 10;
  text-decoration: none;

  &:after,
  &:before {
    @include transition-property(opacity);
    @include transition-duration($transition-duration);
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  &:before {
    opacity: 1;
    z-index: -10;
  }

  &:after {
    z-index: -5;
  }

  &:hover:after {
    opacity: 1;
  }

}

.gradient-blue:before,
.gradient-orange:after,
.gradient-blue-active:before,
.gradient-blue-active:after {
  @include simple-gradient-blue;
}

.gradient-orange:before,
.gradient-blue:after,
.gradient-orange-active:before,
.gradient-orange-active:after {
  @include simple-gradient-orange;
}

.gradient-border-radius {
  @include border-radius($border-radius);

  &:before,
  &:after {
    @include border-radius($border-radius);
  }
}

// Buttons
.get-in-touch {
  @extend .gradient-orange;
  @extend .gradient-border-radius;
  margin-top: 48px;
  margin-bottom: 60px;
  max-width: 406px;
  padding: 16px 30px 14px;
  line-height: 1.35;
  display: block;
  text-decoration: none;
}

.get-in-touch__bold {
  font-weight: 700;
  text-transform: uppercase;
}

.get-in-touch__uppercase {
  font-weight: 300;
  text-transform: uppercase;
}

.get-in-touch--inline {
  @extend .get-in-touch;
  max-width: 100%;
  display: inline-block;
}